

<div layout:decorator="layout/layout" class="row" layout:fragment="content">
    <div class="col-lg-6">
        <form role="form" method="POST" th:action="@{/user/new}" th:object="${user}">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" th:field="*{name}" placeholder="Firstname Lastname">
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
                <label>E-mail address</label>
                <input class="form-control" th:field="*{email}" placeholder="Enter Email address">
                <small th:if="${#fields.hasErrors('email')}" 
                       th:errors="*{email}"
                       th:classappend="${#fields.hasErrors('email')} ? 'help-block'" ></small>
            </div>
            <div class="form-group">
                <label>Phone number</label>
                <input class="form-control" th:field="*{mobile}" placeholder="Enter Phone number">
            </div>
            <div class="form-group">
                <label>Choose Role</label>
                <select class="form-control">
                    <option>Doctor</option>
                    <option>Employee</option>
                    <option>Customer</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="reset" class="btn btn-default">Reset</button>
        </form>
    </div>
    <!-- /.col-lg-6 (nested) -->
    <!--                                <div class="col-lg-6">
                                        <h1>Disabled Form States</h1>
                                        <form role="form">
                                            <fieldset disabled>
                                                <div class="form-group">
                                                    <label for="disabledSelect">Disabled input</label>
                                                    <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="disabledSelect">Disabled select menu</label>
                                                    <select id="disabledSelect" class="form-control">
                                                        <option>Disabled select</option>
                                                    </select>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">Disabled Checkbox
                                                    </label>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Disabled Button</button>
                                            </fieldset>
                                        </form>
                                        <h1>Form Validation States</h1>
                                        <form role="form">
                                            <div class="form-group has-success">
                                                <label class="control-label" for="inputSuccess">Input with success</label>
                                                <input type="text" class="form-control" id="inputSuccess">
                                            </div>
                                            <div class="form-group has-warning">
                                                <label class="control-label" for="inputWarning">Input with warning</label>
                                                <input type="text" class="form-control" id="inputWarning">
                                            </div>
                                            <div class="form-group has-error">
                                                <label class="control-label" for="inputError">Input with error</label>
                                                <input type="text" class="form-control" id="inputError">
                                            </div>
                                        </form>
                                        <h1>Input Groups</h1>
                                        <form role="form">
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">@</span>
                                                <input type="text" class="form-control" placeholder="Username">
                                            </div>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">.00</span>
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon"><i class="fa fa-eur"></i>
                                                </span>
                                                <input type="text" class="form-control" placeholder="Font Awesome Icon">
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">.00</span>
                                            </div>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>-->
    <!-- /.col-lg-6 (nested) -->
</div>
<!-- /.row (nested) -->
