<!DOCTYPE html>
<html lang="en" layout:decorator="layout/layout">

    <head>

    </head>

    <body>
        <div class="row" layout:fragment="content">
            <div class="col-lg-12">
                <div class="page-header"><h3>ประวัติลูกค้า</h3></div>
            </div>
            <ul class="nav nav-pills">
                <li class="active"><a href="#home-pills" data-toggle="tab" aria-expanded="true">เพิ่มผู้ใช้งาน</a>
                </li>
                <li class=""><a href="#profile-pills" data-toggle="tab" aria-expanded="false">ตั้งค่าความเป็นส่วนตัว</a>
                </li>
                <li class=""><a href="#messages-pills" data-toggle="tab" aria-expanded="false">ตรวจสอบสิทธิ</a>
                </li>
                <li class=""><a href="#settings-pills" data-toggle="tab" aria-expanded="false">อื่นๆ</a>
                </li>
            </ul>
        </div>
    </body>

</html>
